html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(133, 209, 219);
}

main {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(104, 172, 108);
    color: white;
    font-family:'Times New Roman', Times, serif;

}

header {
    display: flex;
    justify-content: end;
}

nav {
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    /* If there are only 2 arguments. 4px = top/bottom..... 8px = left/right */
    margin: 4px 8px;
}