html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(92, 109, 103);
}

main {
    display: flex; 
    /* flex-direction: column will display it stacked ontop of one another */
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(104, 172, 108);
    color: white;
    font-family:'Times New Roman', Times, serif;

}

header, section, footer {
    padding: 20px;
}
/* Includes name and nav bar */
header {
    display: flex;
    justify-content: space-between;
    min-height: 1vh;
    max-height: 13vh;
    max-width: 1200px;
    background-color: rgb(26, 66, 26);
}
/* Just my name */
h1 {
    background-color: rgba(152,79,221);
    border: rgb(152, 79, 221) solid;
    margin: -10px 50px;
    border-style: inset;

}
/* Represents About/Work/Contact */
section, footer {
    display: flex;
    justify-content: space-between;
}
/* About paragraph */
section p{
    text-align: start;
    padding: 10px 30px;
}
/* Cool tree image ig */
.backgroundimg {
    max-height: 300px;
}
/* Only the h2,h3 from section */
.sidebar {
    flex: 1;
    padding: 10px 10px;
    border-right: 5px solid black ;
    max-width: 150px;

}
nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

nav a, ul a {
    text-decoration: none;
    color: white;
    /* (Clockwise direction) If there are only 2 arguments. 4px = top/bottom..... 8px = left/right */
    margin: 4px 8px 10px 8px;
}

/* Hover for navbar links */
nav a:hover, ul a:hover {
    color: rgb(217, 241, 77);
}

/* Parent element for work */
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Child element for work */
/* Parent element for caption. Hence the position:relative; */
.work-item {
    position: relative;
    display: inline-block;
    width: 50%;
}

/* For the main img on work */
.featured {
    width: 100%;
}
/* We want the img to fill up 100% of page no matter what, but featured will be 100% and else (work-item) will be 50% */
.fluid-img  {
    /* fills up the entire line */
    width: 100%;
    border: 4px lightblue solid;
}

.caption {
    /* Move to upper left hand corner */
    /* Needs position: relative; in parent element for line 83 & 84 to execute */
    position: absolute;
    margin: 16px;
    padding: 8px;
    background-color: white;
    border: 4px dashed black;
    bottom: 0;
    left: 0;
}
/* List links to contact */
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: underline;
}
.imgsize {
    max-width: 100px;
    max-height: 100px;
    margin: 0x 0px 0px 900px;
}
/* Change color of links to white */


@media screen and (max-width: 576px) {
    .work-item {
        width: 100%;
    }
}
    